RewriteEngine on
RewriteCond %{HTTP_HOST} ^172\.67\.203\.197 [nc,or]
RewriteRule (.*) http://www.prasiddhaacharya.com.np//$1 [R=301,L]
RewriteCond %{home} !-d
RewriteCond %{home}.html -f
RewriteRule ^(.*)$ $1.html